<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashgo</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/yourkitid.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("./layouts/header.ejs") %>
    <div class="banner">
        <p class="banner-text">30 Minute Delivery · COD Available</p>
    </div>
    <img src="./images/Fashgo.jpg" style="width: 95%; border-radius: 12px;" class="fashgo-img">

    <div class="ad">
        <div class="ad1">
            <img src="./images/fast-delivery.png" style="width: 100px;">
            <p>Delivered to your doorstep <br> within 30 minutes.</p>
        </div>
        <div class="ad2">
            <img src="./images/free.png" style="width: 100px;">
            <p>Free delivery on all orders <br> above ₹499.</p>
        </div>
        <div class="ad3">
            <img src="./images/authenticity.png" style="width: 100px;">
            <p>Your order is packed and<br> shipped straight from the<br> brand's retail store.</p>
        </div>
        <div class="ad4">
            <img src="./images/product-return.png" style="width: 100px;">
            <p>Don't love it? Don't worry.<br>Returns are as quick as the<br> delivery.</p>
        </div>
        <div class="ad5">
            <img src="./images/cod.png" style="width: 100px;">
            <p>Pay only when our delivery<br> partner reaches your<br>doorsteps.</p>
        </div>
    </div>

    <div class="brand-shop">
        <div>
        <h2>Shop by Brand</h2></div>
        <div>
        <p>Shop from your favorite brands in under 30 minutes</p></div>
    </div>


    <div class="brand-logo">
        <div class="nike"><img src="./images/vecteezy_nike-logo-vector-nike-icon-free-vector_20190687.jpg"></div>
        <div class="lv"><img src="./images/vecteezy_louis-vuitton-logo-louis-vuitton-icon-on-brown-background_21608791.jpg"></div>
        <div class="gap"><img src="./images/GAP logo.jpg"></div>
        <div class="hm"><img src="./images/HM.png"></div>
        <div class="versace"><img src="./images/Versace.jpg"></div>
    </div>

    <div>
        <img src="./images/ABCD-03.jpg" style="width: 95%;" class="advertisement">
    </div>
    <div class="brand-shop" id="abcdd">
        <h2>Store Collection</h2>
    </div>


    <div class="product-container">
        <% allProducts.forEach(product => { %>
            <% if (product.category === "tops") { %>
            <div class="product-card">
        
                <img src="<%= product.image %>" alt="<%= product.name %>">
                <p><%= product.name %></p>
                <h3>
                    ₹<%= product.price.toLocaleString() %>
                </h3>

                <div class="button-container">
                    <form action="/add-to-cart/<%= product._id %>" method="POST">
                        <button class="add-to-cart-button">
                            Add to Cart
                        </button>
                    </form>    
                    <button class="wishlist-button">
                        <img src="/images/icons8-heart-50.png" style="height: 24px;">
                    </button>
                </div>

            </div>
          <% } %>
        <% }); %>
    </div>

    <div>
        <img src="./images/abddddd_Mesa de trabajo 1.jpg" style="width: 95%;" class="advertisement">
    </div>

    <div class="brand-shop" id="abcdd">
        <h2>Ain't Nobody Like my Desi Girl</h2>
    </div>
     
    <div class="product-container">
        <% allProducts.forEach(product => { %>
            <% if (product.category === "kurti") { %>
                <div class="product-card">
                    
                    <img src="<%= product.image %>" alt="<%= product.name %>">
                    <p><%= product.name %></p>
                    <h3>
                        ₹<%= product.price.toLocaleString() %>
                    </h3>

                    <div class="button-container">
                        <form action="/add-to-cart/<%= product._id %>" method="POST">
                            <button class="add-to-cart-button">
                                Add to Cart
                            </button>
                        </form>
                        <button class="wishlist-button">
                            <img src="/images/icons8-heart-50.png" style="height: 24px;">
                        </button>
                    </div>

                </div>
            <% } %>
        <% }); %>
    </div>

    <div class="brand-shop" id="abcdd">
        <h2>Browse by Category</h2>
    </div>

    <div class="product-container">
        <div class="product-card">
            <img src="./images/Strength_Heavyweight_Oversized_Tee_Jade.jpg" alt="Womens Black Casual Abstract Dress">
            <p>Oversized Tshirt</p>
        </div>
        <div class="product-card">
            <img src="./images/Casual-tshirt.jpg" alt="Womens Work Geometric Top">
            <p>Casual Tshirts</p>
        </div>
        <div class="product-card">
            <img src="./images/Casual Shirt.jpg" alt="Womens Work Abstract Top">
            <p>Casual Shirts</p>
        </div>
        <div class="product-card">
            <img src="./images/Formal Shirt.jpg" alt="Womens Rust Work Solid Co-ords">
            <p>Formal Shirt</p>
        </div>
        <div class="product-card sale">
            <img src="./images/bottomwear.jpg" alt="Womens White Casual Solid Top">
            <p>Bottomwear</p>
        </div>
    </div>

    <div>
        <img src="./images/theme-image-1738952816186.jpg" style="width: 95%;" class="advertisement">
    </div>

    <div class="brand-shop" id="abcdd">
        <h2>Fashionable Menswear in 30 Minutes</h2>
    </div>

    <div class="product-container">
        <% allProducts.forEach(product => { %>
            <% if (product.category === "jeans") { %>
                <div class="product-card">
                    
                    <img src="<%= product.image %>" alt="<%= product.name %>">
                    <p><%= product.name %></p>
                    <h3>
                        ₹<%= product.price.toLocaleString() %>
                    </h3>

                    <div class="button-container">
                        <form action="/add-to-cart/<%= product._id %>" method="POST">
                            <button class="add-to-cart-button">
                                Add to Cart
                            </button>
                        </form>
                        <button class="wishlist-button">
                            <img src="/images/icons8-heart-50.png" style="height: 24px;">
                        </button>
                    </div>

                </div>
            <% } %>
        <% }); %>
    </div>

    <div>
        <img src="./images/theme-2.jpg" style="width: 95%;" class="advertisement">
    </div>

    
    <div>
        <img src="./images/App promo flyer - Made with PosterMyWall.jpg" style="width: 95%;" class="advertisement">
    </div>
    <%- include("./layouts/footer.ejs") %>

    
    <script src="wishlist.js"></script>
</body>
</html>
