<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FashGo | Profile</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pincode_style.css">
    <script src="https://kit.fontawesome.com/yourkitid.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    <%- include("./layouts/header.ejs") %>
    
    <div class="profile-container">
        <div class="profile-card">
            
            <h2 class="profile-username"><%= user.username %></h2>
            <p class="profile-email"><%= user.email %></p>
            <p class="profile-joined">Joined on: <%= new Date(user.createdAt).toDateString() %></p>

            <div class="profile-actions">
                <a href="api/auth/logout" class="profile-logout-btn">Logout</a>
                <a href="/edit-profile" class="profile-edit-btn">Edit Profile</a>
            </div>
        </div>
    </div>
    
    <%- include("./layouts/footer.ejs") %>

<script src="/js/pincode.js"></script>   

</body>
</html>